.auth-container {
  height: 100vh;
  background: #f1f3f6;
}

.hidden-autofill {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.hidden-role {
  display: none;
}

.auth-card {
  display: flex;
  width: 800px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

/* LEFT PANEL */
.auth-left {
  width: 40%;
  background: #2874f0; /* Flipkart blue */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* RIGHT PANEL */
.auth-right {
  width: 60%;
  padding: 40px;
}

.input-group-text {
  background: #f5f5f5;
  border: none;
}

.form-control {
  border-left: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #2874f0;
}

/* BUTTON */
.btn-primary {
  background: #fb641b; /* Flipkart orange */
  border: none;
}

.btn-primary:hover {
  background: #e85c1a;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-card {
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }

  .auth-left,
  .auth-right {
    width: 100%;
  }
}


input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid #dc3545;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border: 1px solid #28a745;
}

small.text-danger {
  font-size: 12px;
  margin-left: 5px;
}

/* Smooth spacing */
.input-group {
  margin-bottom: 5px;
}
