<nav class="navbar navbar-expand-lg bg-light shadow-sm px-4 py-2">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="/assets/images/ecommerce-logo.png.jpg" alt="E-Commerce" class="site-logo me-2" />

    </a>

    <!-- Toggle (mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Menu -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a class="nav-link custom-link fw-semibold" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLinkActive="active" routerLink="/shop">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLinkActive="active" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLinkActive="active" routerLink="/user">Profile</a>
        </li>
      </ul>

      <!-- Search -->
     <form class="d-flex me-3 py-3" (submit)="onSearch($event)">
  <div class="search-box d-flex align-items-center px-3">
    <i class="fa-solid fa-magnifying-glass me-2"></i>
    <input
      type="search"
      class="form-control border-0"
      placeholder="Search curated collection"
      [(ngModel)]="searchText"
      name="search"
    />
  </div>
</form>

      <!-- Icons -->
      <div class="icon-group d-flex align-items-center gap-4 fs-5">
        <a routerLink="/wishlist" routerLinkActive="active-icon">
          <i class="fa-regular fa-heart"></i>
        </a>

        <a routerLink="/cart" routerLinkActive="active-icon">
          <i class="fa-solid fa-bag-shopping"></i>
        </a>

        <!-- <a routerLink="/login" routerLinkActive="active-icon">
          <i class="fa-regular fa-user"></i>
        </a> -->
        <!-- If NOT logged in --> <a *ngIf="!auth.isLoggedIn('user')" routerLink="/login"  routerLinkActive="active-icon"> <i
            class="fa-regular fa-user"></i> </a>
            <!-- If logged in --> <a *ngIf="auth.isLoggedIn('user')" (click)="logout()"
          class="text-danger logout-link" routerLinkActive="active-icon"> <i class="fa-solid fa-right-from-bracket"></i> </a>
      </div>
    </div>
  </div>
</nav>
