<div class="login-wrapper">
  <div class="login-card shadow-lg">
    <div class="text-center mb-3">
      <img src="/assets/images/ecommerce-logo.png.jpg" alt="E-Commerce" class="site-logo" />
    </div>

    <div class="login-left">
      <h2>Welcome Back 👋</h2>
      <p>Login to access your account, orders, and wishlist.</p>
    </div>

    <div class="login-right">

      <h4 class="mb-4 fw-bold">Login</h4>

      <form #form="ngForm" (ngSubmit)="onLogin()" autocomplete="off">

        <input type="text" autocomplete="username" class="hidden-autofill" aria-hidden="true">
        <input type="password" autocomplete="current-password" class="hidden-autofill" aria-hidden="true">

        <div class="input-group mb-1">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
          <input
            name="email"
            [(ngModel)]="email"
            #emailRef="ngModel"
            required
            email
            type="email"
            class="form-control"
            placeholder="Enter Email"
            autocomplete="off"
            (focus)="email='';"
          />
        </div>
        <small class="text-danger" *ngIf="emailRef.touched && emailRef.invalid">
          <span *ngIf="emailRef.errors?.['required']">Email is required</span>
          <span *ngIf="emailRef.errors?.['email']">Invalid email format</span>
        </small>

        <div class="input-group mb-1 mt-3">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
          <input
            name="password"
            [(ngModel)]="password"
            #passwordRef="ngModel"
            required
            minlength="8"
            type="password"
            class="form-control"
            placeholder="Enter Password"
            autocomplete="off"
            (focus)="password='';"
          />
        </div>
        <small class="text-danger" *ngIf="passwordRef.touched && passwordRef.invalid">
          <span *ngIf="passwordRef.errors?.['required']">Password is required</span>
          <span *ngIf="passwordRef.errors?.['minlength']">Minimum 8 characters</span>
        </small>

        <button
          type="submit"
          [disabled]="form.invalid"
          class="btn btn-primary w-100 login-btn mt-4"
        >
          Login
        </button>

        <p class="text-danger text-center mt-2">{{ error }}</p>

        <p class="mt-3 text-center">
          Don’t have an account?
          <a routerLink="/register" class="fw-bold text-decoration-none">
            Register
          </a>
        </p>

      </form>

    </div>
  </div>
</div>
