<div class="sidebar" [class.collapsed]="isCollapsed">

  <div class="logo d-flex align-items-center justify-content-between px-3 py-3">
    <span *ngIf="!isCollapsed" class="fw-bold">Admin Panel</span>
    <button class="btn btn-sm btn-toggle" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <ul class="nav flex-column mt-3">

    <li class="nav-item">
      <a routerLink="/admin"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-link d-flex align-items-center gap-2">
        <i class="fas fa-home"></i>
        <span *ngIf="!isCollapsed">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">

      <a class="nav-link d-flex justify-content-between align-items-center"
         data-bs-toggle="collapse"
         href="#productsMenu"
         role="button"
         routerLinkActive="active"

         aria-expanded="false">
        <div class="d-flex align-items-center gap-2">
          <i class="fas fa-box"></i>
          <span *ngIf="!isCollapsed">Products</span>
        </div>

        <i *ngIf="!isCollapsed" class="fas fa-chevron-down small"></i>
      </a>

      <div class="collapse submenu" id="productsMenu">
        <ul class="list-unstyled">

          <li>
            <a routerLink="/admin/product/all"
               routerLinkActive="active"
               class="nav-sublink">
              <i class="fas fa-list"></i>
              <span *ngIf="!isCollapsed">All Products</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/product/add"
               routerLinkActive="active"
               class="nav-sublink">
              <i class="fas fa-plus"></i>
              <span *ngIf="!isCollapsed">Add Product</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin/product/update"
               routerLinkActive="active"
               class="nav-sublink">
              <i class="fas fa-edit"></i>
              <span *ngIf="!isCollapsed">Update Product</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin/product/delete"
               routerLinkActive="active"
               class="nav-sublink">
              <i class="fas fa-trash"></i>
              <span *ngIf="!isCollapsed">Delete  Product</span>
            </a>
          </li>

        </ul>
      </div>

    </li>

    <li class="nav-item">
      <a routerLink="/admin/orders"
         routerLinkActive="active"
         class="nav-link d-flex align-items-center gap-2">
        <i class="fas fa-shopping-cart"></i>
        <span *ngIf="!isCollapsed">Orders</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin/users"
         routerLinkActive="active"
         class="nav-link d-flex align-items-center gap-2">
        <i class="fas fa-users"></i>
        <span *ngIf="!isCollapsed">Users</span>
      </a>
    </li>

  </ul>
</div>
